@page "/log-in"
@model IdentityClaimsPlay.Crm.Areas.Identity.Pages.Account.LoginModel

@{
  ViewData["Title"] = "Log in";
}

<section class="offset">
  <h1><span class="fa fa-sign-in-alt" aria-hidden="true"></span> Log in</h1>
  <p>For simplicity, this log-in page has a dropdown of all users, and doesn't require a password. Don't do this on a production site!</p>
  <form id="account" method="post" class="w-25">
    <div class="form-floating mb-3">
      <select asp-for="Input.Email" class="form-control" id="floatingInput">
        @foreach (User user in Model.Users) {
          <option value="@user.Email">@user.Email</option>
        }
      </select>
      <label for="floatingInput">Email address</label>
      <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    @*<div class="form-floating mb-3">
      <input asp-for="Input.Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
      <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>*@

    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
  <h3><a href="/">Back to the home page</a></h3>
</section>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}