@page "/reset-password-confirmation"
@model IdentityClaimsPlay.Crm.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
  ViewData["Title"] = "Your password has been reset";
}

<section class="offset">
  <h1><span class="far fa-user-lock" aria-hidden="true"></span> @ViewData["Title"]</h1>

  <hr />

  <p>You can now <a href="@RouteHelper.Login">log in</a>.</p>
</section>