@page "/"

<PageTitle>Identity Claims Play</PageTitle>

<h1>Identity Claims Play</h1>
<h3>See <a href="https://github.com/MrYossu/IdentityClaimsPlay" target="_blank">the project page</a> for more details of what's going on here</h3>

@if (_me?.Identity?.IsAuthenticated ?? false) {
  <p>You are logged in as @_me.Identity?.Name</p>
} else {
  <p>If you were logged in, you could do fab things. Try logging in as one of the following users, all of whom have a password of <code>1</code>...</p>
  <ul style="list-style-type: none">
    <li><code>admin@a.com</code> - global admin user</li>
    <li><code>companyadmin@a.com</code> - admin company user</li>
    <li><code>flunky1@a.com</code> and <code>flunky2@a.com</code> - both regular company users</li>
  </ul>
}