@page "/users"

<PageTitle>Users</PageTitle>

<h1>Users</h1>
<h3>TODO - If admin, show all users, if company admin, only show users for that company</h3>

<p>Click on a user to see details</p>
<ul>
  @foreach (User user in _users) {
    <li><a href="/user/@user.Id">@user.Email</a>@(user.Company is not null ? $" ({user.Company.Name})" : "")</li>
  }
</ul>