@page "/users"

<PageTitle>Users</PageTitle>

<h1>Users@(string.IsNullOrWhiteSpace(CompanyName) ? "" : $" for {CompanyName}")</h1>

<p>Click on a user to see details</p>
<ul>
  @foreach (User user in _users) {
    <li><a href="/user/@user.Id">@user.Email</a>@(user.Company is not null ? $" ({user.Company.Name})" : "")</li>
  }
</ul>