@using IdentityClaimsPlay.Crm.Helpers
@attribute [Route(RouteHelper.NotAuthorised)]

<PageTitle>Not authorised</PageTitle>

<h1>Not authorised</h1>
<p>Sorry, but you do not have permission to view that page</p>
<p>If you think you should have permission, please contact your site administrator</p>