@attribute [Route(RouteHelper.CharityList)]

<h1>Charities</h1>

@if (_charities.Any()) {
  <p>Click on a charity to see details or <a href="/charity/new">add a new charity</a></p>
} else {
  <p>No charities yet. <a href="/charity/new">Add a new charity</a></p>
}

<ul>
  @foreach (Charity charity in _charities) {
    <li><a href="@(RouteHelper.CharityDetails + charity.Id)">@charity.Name</a> @(string.IsNullOrWhiteSpace(_companyId) ? charity.Company.Name : "")</li>
  }
</ul>