@page "/"

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<h2>Things to do...</h2>
<ul>
  <li>Add Identity pages</li>
  <li>Log-in should check if there is a user with the specified email in the admin role for this company. Only check if the email/password are correct if so.</li>
</ul>