@page "/forgot-password-confirmation"
@model IdentityClaimsPlay.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
  ViewData["Title"] = "Please check your inbox";
}

<section class="offset">
  <h1><span class="far fa-user-lock" aria-hidden="true"></span> @ViewData["Title"]</h1>

  <hr />
  @if (!string.IsNullOrWhiteSpace(Model.Email)) {
    <p>We have sent an email to @Model.Email with a link that you need to click to reset your password. Once you have clicked that link, you will be able to log in.</p>
  } else {
    <p>We have sent you an email with a link that you need to click to reset your password. Once you have clicked that link, you will be able to log in.</p>
  }
  <p>If you can't find the email, please check your Junk folder.</p>
  @if (!string.IsNullOrWhiteSpace(Model.Email)) {
    <p>If you don't receive the email at all, you can click the button below to have it sent again.</p>
    <div class="text-right">
      <form method="post">
        <input type="hidden" name="email" value="@Model.Email" />
        <button type="submit" class="btn btn-primary">Resend</button>
      </form>
    </div>
  }
</section>
