@attribute [Route(RouteHelper.Home)]
@attribute [Authorize]

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<p>This is the global admin portal. Access to this should only be for users in the global admin role.</p>
<p>Here you can maintain companies and users. Although the users list allows you to add flunkies, in reality it's highly unlikely that global admins would do that. They would maintain other global admin users and company admin users, leaving the individual companies to maintain their own users (who are confusingly called both customers and donors in this sample).</p>